@import '../../../../../framework/scss/partials/variables';
@import '../../../../../framework/scss/partials/mixins';


.Home_cell--messagecentermodule {
	display: flex;
	width: 100%;
	height: 46%;
	// margin-bottom: 1rem;

	h2 {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}

	.message-center-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.message-center-header {
		background-color: #e8f6fe;
		padding: 0.5rem 1rem 0 1rem;
		height: 4.5rem;
		border-bottom: 1px solid #d2d3d4;
	}

	.tab-wrapper {
		display: flex;
		width: 100%;

		.tab {
			font-weight: 700;
			font-size: 0.65rem;
			margin-right: 5%;

			.notification-wrapper {
				position: relative;
				display: inline-block;
				padding-bottom: 0.25rem;

				&:hover {
					cursor: pointer;
				}

				.notification {
					border-radius: 0.65rem;
					background-color: $red;
					color: white;
					position: absolute;
					// padding: 0.5rem 0.25rem;
					min-width: 1.2rem;
					min-height: 1.2rem;
					font-size: 0.55rem;
					font-weight: normal;

					// top: $pagePadding * -1.1;
					// right: $pagePadding * -1.45;
					top: -0.75rem;
					right: -0.75rem;
					//border: remCalc(2px) solid white;
					display: flex;
					align-items: center;
					justify-content: center;

					div {
						display: block;
						line-height: 2;
						width: 100%;
						height: 100%;
						text-align: center;
					}
				}
			}

			&.active {
				border-bottom: remCalc(3px) solid $red;
			}
		}
	}

	.message-list-wrapper {
		height: calc(100% - 4.5rem);
		padding: 1rem;
	}

	.message-list-container {
		height: 100%;

		.message-list-inner-wrapper {
			overflow: auto;
			width: 100%;
			height: 100%;
		}

		.message-list {
			overflow: auto;
			width: 100%;
			padding-right: 1rem;
		}

		.message-row {
			display: flex;

			padding: 0.5rem 0;
			border-bottom: 1px solid #ccc;

			&:first-of-type {
				padding-top: 0;
			}

			&:hover {
				cursor: pointer;
			}

			.message-thumbnail {
				padding-right: 1rem;
				flex-shrink: 0;

				.image {
					background-size: contain;
					width: 2.8rem;
					height: 2.8rem;
				}
			}

			.message-text {
				padding-right: 0.5rem;
				flex-grow: 2;

				.timestamp {
					font-size: 0.55rem;
					color: #888;
					line-height: 1.3;
				}

				h3 {
					font-size: 0.8rem;
					margin: 0;
					line-height: 1.4;
				}

				p {
					font-size: 0.65rem;
					margin: 0;
					line-height: 1;
				}

				.new-flag {
					display: none;
					color: $red;
					padding-right: 0.25rem;

					&.active {
						display: inline-block;
					}
				}

				&.urgent {
					color: $red;
				}
			}

			.message-arrow {
				align-self: center;
				padding-right: 0.25rem;
			}
		}
	}
}

.overlay {
	.message-center-overlay-backfill {
		perspective: 100vw;

		background: rgba(0,0,0,0);
		width: 100%;
		height: 100%;
		transition: all 0.35s ease-in-out;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		&.show {
			background: rgba(0,0,0,0.4);
		}
	}
}

.overlay {
	.message-center-overlay {
		position: fixed;
		z-index: 200;
		opacity: 0.0;

		background-size: contain;
		background-repeat: no-repeat;
		box-sizing: border-box;

		.proportional-size-anchor .relative-size-anchor .box-inner .promo-display-big .description-bar {
			opacity: 0.0;
		}

		&.huge .proportional-size-anchor .relative-size-anchor .box-inner .promo-display-big .description-bar {
			transition: opacity 0.5s cubic-bezier(1.000, 0.000, 0.675, 1.000);
			opacity: 0.01;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		.centering-anchor {

			width: 90%;
			height: 90%;

			display: flex;
			justify-content: center;
			align-items: center;

			height: 66.666666666667vw;	/* 100/66.~ = 1.5 = 3:2 */
			width: 100vw;
			max-height: 100vh;
			max-width: 150vh; /* 150/100 = 1.5 = 3:2 */


			@media (orientation: portrait) {
				width: 150vw;
				height: 100vw;
				max-width: 66.6666666666670vh;
				max-height: 100vh;
			}

			.proportional-size-anchor {
				box-shadow: 0px 6px 48px 16px rgba(0,0,0,0.5);
				box-sizing: border-box;
				background-color: $white;
				width: 50%;
				min-height: 17%;
				max-height: 75%;
				overflow: auto;

				&:hover {
					cursor: default;
				}

				.relative-size-anchor {
					position: relative;
					height: 100%;
					width: 100%;

					.box-inner {
						height: 100%;
						width: 100%;
						// position: absolute;

						box-sizing: border-box;
						text-align: left;


						.message-center-display-big {
							position: relative;
							width: 100%;
							height: 100%;
							background-color: $white;
						//	 display: flex;
							padding: 1rem;

							.close-button {
								position: absolute;
								top: 1.75rem;
								right: 2rem;
								color: #949494;

								&:hover {
									cursor: pointer;
								}
							}

							.text-content {
								width: 100%;
								padding: 2rem;

								.headline {
									color: $red;
									font-size: 1.5rem;
									line-height: 1;
									margin-bottom: 0.25rem;

									&.tickerMsg {
										color: #333;
									}

									&.urgentMsg {
										color: $red;
									}
								}

								.subheadline {
									font-size: 1rem;
								}

								.message-text {
									font-size: 0.75rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
