@import '../../framework/scss/partials/variables';
@import '../../framework/scss/partials/mixins';

.header-container{
  display: flex;
  align-items : baseline;
  padding: 1.0em 3.125rem 0;
  height: 12%;
  padding-right: 10.5rem; // padding to deal with nav
}

.header-container .logo-block{
  padding-right: 1.25em;
  font-family: "Neue Haas Grotesk", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.header-container .logo-block .company-logo img{
  margin-top: -2.25rem;
  width: auto;
  height: 2.75rem;
}
.header-container .logo-block .project-name h2{
  font-size: remCalc(45px);
  color: $red;
  height: 2.75rem;
  .stageTitle {
    color: #333333;
    margin-left:10px;
  }
}

.project-name a, .project-name a:hover {
  display: block;
  color: $red;
}

.header-container .logo-block .company-logo,
.header-container .logo-block .project-name{
  display: inline-block;
  height: 2.75rem;
  width: 43%;
}

.header-container .logo-block{
    flex: 0 0 42%;
}
.header-container .filter-block {
   flex: 0 0 40%;
   padding-left: 1rem;
}

.header-container .current-time-block {
  flex: 0 0 70%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-self: center;
  text-align: right;
  align-items: center;
  .customer-support {
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
  }
  .user-name {
    p {
      margin: 0;
    }
  }
}

.header-container .current-time-block h2{
  font-weight: normal;
  font-size: 1.14rem;
  text-align: right;
  line-height: 110%;
  top: -1.15rem;
  position: relative;
}

.header-container .current-time-block .time-of-day {
    font-size: 65%;
}

.user-profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  .user-name {
    color: #333;
    font-size: 1em;
    font-weight: 500;
  }
  .user-profile-arrow {
    cursor: pointer;
    .icon-right-arrow {
      width: 10px;
      height: 10px;
      fill: #c00;
      transform: rotate(90deg);
      transform-origin: 40% 40%;
    }
  }
  .user-profile-details {
    display: flex;
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    justify-content: flex-end;
    z-index: 2;
  }
  .list-group {
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 0;
    margin: 0;
    .list-group-item {
      position: relative;
      display: block;
      padding: 0 5% 0 4% !important;
      width: 100px;
      height: 35px;
      background: #fff;
      border: 1px solid rgba(0,0,0,.125);
      text-transform: capitalize;
    }
  .list-group-item:first-child {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
  }
  .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
  }
  .float-right {
    float: right;
  }
  .text-muted {
    color: #6c757d;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
}
