@import '../../../framework/scss/partials/buttons';

.login-row {
  width: 100%;
  height: 100%;
  padding: 1.2%;
  margin: 10% 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.login {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  flex-direction: column;
  /*align-items: center;*/

  h1 {
    /*display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;*/
  }

  .loginForm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
    margin-top:5%;

    .form-group {
      margin-top: 2%;
      padding: 0;
      display: flex;
      flex-flow: column wrap;
      /*justify-content: center;
      align-items: center;*/
      width: 100%;
      text-align: left;
      label {
        display: inline-flex;
        width: 82%;
        justify-content: flex-start;
        self-aligned: flex-start;
      }
    }

      .dropdown-container,
      input,
      .loginButton {
        flex-grow: 1;
        margin-right: 1rem;
        min-height:50px;
        max-height:50px;
        font-size: 0.875rem;
        width: 25%;
      }

      input {
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        padding-left: 10px;
        width: 80%;
      }

      .keep-me {
        width: 20px;
        border: 0;
        padding: 0;
        margin: 0;
        appearance: checkbox;
        margin-top: 6px;
      }

      .dropdown-container {
        min-width: 200px;
        padding-top: 13px;
      }

      .loginButton {
        padding-top: 2%;
        margin-top: 5%;
      }

      .multiselect-wrapper {
        width:100%;
      }
  }
}

.login-error-message{
  margin-top: 20px;
  color: #CD040B;
  font-weight: 700;
  width: 60%;
}

.form-errors {

  width: 100%;
  padding: 2% 0 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: #CD040B;
  font-weight: 700;

  .error-helpers {
    display: flex;
    flex-flow: column wrap;
    font-size: 0.8em;
    font-weight: 500;
  }

}

.button.button-primary:after {
  padding-left: 0;
}

.forgot-password {
  display: flex;
  margin-top: 3%;
}

.remember-me {
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: flex-start;
  align-items: flex-start;
  label {
    display: flex;
    width: 35% !important;
  }
  input {
    display: flex;
    width: 20%;
  }
}

.Home .module-container .module-wrapper {
  height: 120%;
}