@import '../../../framework/scss/partials/mixins';
// TODO: move this to a generic spot
.slidable-table {
    background: #fff;
    max-height: 22rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.slidable-table-paginator {
    display: flex;
    flex-direction: row;
    margin: 2px 0 0 20px;
}
.slidable-table-page {
    background: #ccc;
    border-radius: 10px;
    height: .75rem;
    width: .75rem;
    margin: 0 .25rem;
    &:hover {
        cursor: pointer;
    }
    &:last-child {
        display: none;
    }
}
.slidable-header {
    height: 4rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slidable-footer {
    font-size: .75rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slide-table-container {
    overflow: hidden;
    position: relative;
}

.slidable-table-paginator {
    .slidable-table-page {
        transition: background-color 2s ease;
        &.active {
            background: #d0151b;
        }
    }
}
.slide-table-utility {
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    height: 1rem;
    justify-content: flex-end;
    line-height: 1em;
    margin: 0 0 1rem 0;
    span {
        line-height: 1.5em;
    }
}
.slidable-table-container {
    background: white;
    height: 34rem;
    padding: 1rem;
}

.first-column {
    background: #fff;
    position: absolute;
    top: 0;
}

.flex-table-column:first-child {
    justify-content: flex-start;
}
.flex-table-column:last-child {
    border-right: none;
}

.first-column,
.first-column-header,
.first-column-footer,
.second-column-header,
.second-column-footer {
    .flex-table-column:last-child {
        border-right: 1px solid #e4e5e3;
    }
}

.flex-table-row {
    display: flex;
    flex-direction: row;
}
.flex-table-column {
    align-items: center;
    border-right: 1px solid #e4e5e3;
    border-bottom: 1px solid #e4e5e3;
    display: flex;
    flex: 1;
    height: 3rem;
    justify-content: center;
    padding: 0 1.5rem;
    text-align: left;
}
.flex-table-footer,
.flex-table-header {
    background-color: rgb(171, 224, 249);
    font-weight: bold;
    position: absolute;
    transition: transform 1s;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 9;
    .flex-table-column {
        border-bottom: 0;
        border-top: 0;
        height: 4rem;
    }
}
.flex-table-body {
    font-size: .75rem;
    transition: transform 1s;
    transition-timing-function: ease-out;

    .icon {
        fill: #d0151b;
        height: 15px;
        width: 15px;
    }

    .icon-right-arrow {
        height: 0.55rem;
        width: 0.55rem;
        margin-top: 8px;
        float: right;
        fill: #d0151b;
    }

    .drilldown-carrot {
        display:inline-block;
        width:18px;
        height:18px;
    }

}
/* TODO put these in their template jsx */
/* css template style */
.table-header-template {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    .icon {
        fill: #d0151b;
        height: 15px;
        width: 15px;
    }
    .icon-down-arrow {
        margin-top: -4px;
    }
    .carrot {
        align-items: center;
        display: flex;
        margin-right: 0rem;
        margin-left: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    .table-header-template-title {
        flex: 1;
    }
    .active .icon {
        transform: rotate(180deg);
    }
}

/* TODO css drilldown column template */
.drilldown-report {
    .flex-table-row {
        .flex-table-column:first-child {
            span {
                cursor: pointer;
            }
        }
    }
}

// Drill Level Max
.drill-level-max {
    .flex-table-row {
        .flex-table-column:first-child {
            span {
                cursor: default;
            }
            .drilldown-carrot {
                display: none;
            }
        }   
    }
}

