@import '../../../../../framework/scss/partials/variables';
@import '../../../../../framework/scss/partials/mixins';

.Home_cell--scorecardmodule {
    display: flex;
    width: 100%;
    height: 100%;
}
.home-scorecard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.last-upated-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 1rem;
    font-weight: 200;
    flex-direction: row;
    justify-content: flex-end;

    .icon-right-arrow {
        fill: #333333;
        height: remCalc(14px);
        margin-left: remCalc(10px);
        position: relative;
        top: remCalc(2px);
        width: remCalc(20px);
    }
}
.home-scorecard-details {
    display: flex;
    flex-direction: row;
    a {
        color: #333;
        font-size: 0.6rem;
        font-weight: 500;
    }

    span {
        font-weight: bold;
    }
}
.home-scorecard-location {
    flex: 1;
    h3 {
        line-height: 1em;
        margin: 0 0 .5em 0;
        font-size: 1.25rem;
    }
}
.home-gauges-view {
    display: flex;
    justify-content: center;
    a {
        align-self: center;
        margin-top: remCalc(7px);
        position: absolute;
        right: .8em;
    }
}
.home-gauges-container {
    justify-content: center;
    width: 100%;
    .scorecard-module-gauge {
        height: 14rem;
        max-width: 11rem;
        top: 0;
        width: 100%;
        margin-top: -2rem;      
    }
    .gauge-header {
        text-align: center;
        margin: 0;
        min-height: 3rem;
        width: 100%;
    }
    .gauge-opacity {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .gauge-rank-footer {
        display: none;
    }
    .gauges-template {
        display: block;
        display: flex;
        margin-top: 2rem;
        min-height: 20rem;
    }
    .gauge-template {
        flex: 1;
    }
    .shadow {
        display: block;
        fill-opacity: .4;
        width: 80%;
        position: relative;
        top: -5rem;
        max-width: 11rem;
    }
    .no-results {
        display: block;
        color: #CD040B;
        padding: 2rem 0;
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
    }
}


