.avatar-initials{
  border-radius: 50%;
  background-color: #e4e5e3;
  height: 44px;
  width: 44px;
  margin-top: -12px;
  padding-top: 15px;
  text-align: center;
  font-family: "VerizonNeueText", Arial, Helvetica sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #cd040b;
  text-transform: capitalize;
}

.avatar-image{
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin-top: -12px;
}