@import '../../../../src/framework/scss/partials/mixins';
@import '../../../../src/framework/scss/partials/core-variables';

.leaderboard-wrapper{
    margin: 0 3.125rem;
}

.leaderboard-container {
	background-color: white;
	display: flex;
  	flex-direction: column;
    height: 37rem;
    line-height: normal;
    h1, h2, h3, h4, h5, h6 {
    	margin-bottom: 0;
    }
    padding: 0 1.125rem;
    flex-flow: wrap;
    padding-top: remCalc(24px);

	.leaderboard-left {
		width: 65%;
	}

	.leaderboard-right {
		width: 35%;
	}

	/*Table*/
	.leaderboard-table{
		width:100%;
		// font-family: "VerizonNeueText", Arial, Helvetica sans-serif;
		font-weight:700;
	}

	.leaderboard-table-header{
		display: flex;
		flex-direction: row;
		flex-flow: nowrap;
		border-bottom:remCalc(6px) solid #d2d3d4;
		width: 100%;
	}

	.leaderboard-table-header-cell{
		// font-family: "VerizonNeueDisplay", Arial, Helvetica sans-serif;
	    font-size: .8rem;
		font-weight:700;
		padding-bottom:remCalc(10px);
		text-align:center;
		@include breakpoint(tablet){
		    font-size: remCalc(14px);
		}
	}


	.leaderboard-table-rank {
		width: remCalc(60px);
		// flex: 0 1 11%;
		flex-grow: 1;
		min-width: 11%;
	}

	.leaderboard-table-change {
		width:remCalc(36px);
		// flex: 0 1 13%;
		flex-grow: 1;
		min-width: 13%;
	}

	.name-table-header {
	    padding-left: 2.75rem;
	}

	.leaderboard-table-name {
		text-align:left;
	    /*padding-left: 0.875rem;*/
		// flex: 0 1 56%;
		flex-grow: 1;
		min-width: 56%;
		@include breakpoint(tablet){
			padding-left:0;
		}

		.avatar-initials {
			margin-top: 0 !important;
		}
	}

	.leaderboard-table-total {
		// flex: 0 1 20%;
		flex-grow: 1;
		min-width: 20%;
	}

	.leaderboard-table-body {
/*		display:flex;
		flex-flow: column;*/
	    height: 33.5rem;
    	overflow-y: scroll;
	}

	.leaderboard-row {
		display: flex;
		flex-direction: row;
		flex-flow: nowrap;

		width: 100%;
		border-bottom:remCalc(3px) solid #d2d3d4;
	}

	.leaderboard-row-data{
		display: flex;
		align-items: center;
		height: 3.7rem;
		vertical-align: middle;
		@include breakpoint(tablet){
			height: remCalc(75px);
		}
	}

	.total-row-data-value {
		margin: 0 auto;
	}

	.rank-row-data,
	.total-row-data,
	.comments-row-data,
	.likes-row-data{
		text-align:center;
	}

	.rank-row-data{
		// font-family: "VerizonNeueDisplay", Arial, Helvetica sans-serif;
		font-size:remCalc(24px);
		@include breakpoint(tablet){
			font-size:remCalc(18px);
		}
	}


	.change-row-data .icon{
		height:remCalc(40px);
		width:remCalc(36px);
		position:relative;
		margin:0 auto;
		display:block;
	}

	.change-row-data .icon-static-arrow{
		height:remCalc(36px);
		width:remCalc(36px);
	}

	.change-row-data .icon-static-arrow,
	.top-rank-info .icon-static-arrow{
		fill:#4b4b4b;
	}

	.change-row-data .icon-positive-arrow,
	.top-rank-info .icon-positive-arrow{
		fill:#82ceaa;
	}

	.change-row-data .icon-negative-arrow,
	.top-rank-info .icon-negative-arrow{
		fill:#cd040b;
	}

	.name-row-data,
	.total-row-data{
		// font-family: "VerizonNeueDisplay", Arial, Helvetica sans-serif;
		font-size: .9rem;
		@include breakpoint(tablet){
		    font-size: .9rem;
		}
	}

	.name-row-data-name {
		padding-left: remCalc(15px);
		width: 10rem;
		/*font-size: 1rem;*/
	}

	.rank-row-data-rank{
		background-color: #e4e5e3;
	    height: 2.75rem;
    	width: 2.75rem;
    	line-height: 3rem;
	    border-radius: 50%;
	    text-align:center;
	    position:relative;
	    margin: 0 auto;
	    font-size: 1rem;
	    @include breakpoint(tablet){
		    height: remCalc(40px);
		    width: remCalc(40px);
		    line-height:remCalc(40px);
		}
	}

	.leaderboard-avatar-initials{
		font-size: 1rem;
		line-height:3rem;
		padding-top:0;
		padding-left:0;
		text-align:center;
	}

	.leaderboard-avatar-initials,
	.leaderboard-avatar-image{
		float:left;
	    height: 2.75rem;
    	width: 2.75rem;
	    margin-top:initial;
	}

	/*MastHead*/
	.leaderboard-participant-first-name{
		font-weight:700;
		font-size: remCalc(14px);
		@include breakpoint(tablet){
			font-size:remCalc(20px);
		}
	}

	.leaderboard-participant-metric-name{
		font-weight:700;
		font-size:remCalc(25px);
		@include breakpoint(tablet){
			font-size:remCalc(30px);
		}
	}

	.leaderboard-participant-start-date{
		// font-family: "VerizonNeueDisplay", Arial, Helvetica sans-serif;
		font-weight:700;
		font-size:remCalc(12px);
		@include breakpoint(tablet){
			font-size:14px;
		}
	}

	.leaderboard-participant-last-update{
		font-size:remCalc(14px);
		margin-top: remCalc(20px);
	    display: inline-block;
	    @include breakpoint(tablet){
			font-size:remCalc(12px);
			margin-top:(5px);
		}
	}

	/*Medallions*/
	.top-ranks{
		position:relative;
		margin-top: 3.5rem;
		/*padding: remCalc(20px) remCalc(40px) remCalc(120px);*/
		@include breakpoint(tablet){
			padding-bottom:remCalc(90px);
		}
		@include breakpoint(phablet){
			padding-bottom:remCalc(20px);
		}
	}
	.medallion{
		background-size:105% 105%;
		border-radius:50%;
		background-position:25% 25%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.top-rank{
		transition: all .25s ease-in-out;
	}
	.top-rank-1{
		width:45%;
		max-width:remCalc(300px);
		margin:0 auto;
		position:relative;
		z-index: 2;
		@include breakpoint(tablet){
			width:60%;
		}

		.top-rank-info {
			top: 19.4rem;
		}
	}
	.medallion-1{
		border:remCalc(16px) solid #abe0f9;
		background-image:url( ../../../assets/images/leaderboard/first-bg.png );
		position:relative;
		@include breakpoint(tablet){
			border-width:remCalc(10px);
		}
	}
	.top-rank-2,
	.top-rank-3{
		width:33%;
		max-width:remCalc(225px);
		position:absolute;
		top: 2rem;
		z-index:1;

		.top-rank-info {
		    top: 14.4rem;
		}
	}

	.top-rank-2{
		left: 6%;
		@include breakpoint(lb){
			left:0;
		}
	}

	.top-rank-3{
		right: 7%;
		@include breakpoint(lb){
			right:0;
		}
	}

	.medallion-2{
		border:remCalc(16px) solid #82ceaa;
		background-image:url( ../../../assets/images/leaderboard/second-bg.png );
	}
	.medallion-3{
		border:remCalc(16px) solid #fbd362;
		background-image:url( ../../../assets/images/leaderboard/third-bg.png );
	}
	.medallion-2,
	.medallion-3{
		position:absolute;
		@include breakpoint(tablet){
			border-width:remCalc(10px);
		}
	}

	.top-rank-info-name {
		font-size: 1.5rem;
	}


	.top-rank-info-name,
	.top-rank-info-total{
		text-align:center;
		font-weight:700;

	}
	.top-rank-info{
		position:absolute;
		width:100%;
        left: 0;
    	/*font-size: remCalc(47.3px);*/
	}
	.top-rank-info-total{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		position: relative;
	    //margin: remCalc(15px) auto;
		@include breakpoint(tablet){
			margin-top: remCalc(5px);
		}
	}
	.leaderboard-rank{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.top-ranks .leaderboard-rank{
		font-family:  'Neue Haas Grotesk', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 700;
		line-height: 350%;
	    /*position: absolute;*/
	    width: 100%;
	    color: #ffffff;
	    opacity: .75;
	}
	.leaderboard-rank-number{
	    font-size: 5rem !important;
    	left: remCalc(5.7px) !important;
		line-height:0 !important;
	}

	.top-rank-1 .leaderboard-rank-number{
		position: relative;
		font-size: 7rem !important;
	}
	.leaderboard-rank-ordinal{
	    display: inline-block;
	    position:relative;
		font-size: 150%;
		margin-top: -2rem;
	}
	.top-rank-1 .leaderboard-rank-ordinal {
		margin-top: -3rem;
		font-size: 200%;
		padding-left: 0.25rem;
	}

	.shadow{
		display:block;
	    left: 0;
		position:absolute;
		bottom: -4.25rem;
		overflow:visible;
		fill-opacity: .4;
		z-index:-1;
		@include breakpoint(tablet){
			bottom:remCalc(-65px);
		    z-index: -10;
		   }
	}
}
