.card {
	width: 100%;
	height: 200px;
}

.horizontal-line {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.page-dashboard {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	padding: 2%;
	h2 {
		color: #868e96;
		font-size: 2.2em;
		font-weight: 700;
		margin: 0;
	}
	.projects {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		.projects-user-actions {
			display: flex;
			flex-flow: row nowrap;
			margin-left: 2%;
			.button-create {
				display: flex;
				flex-grow: 1;
				margin-right: 1rem;
				min-height:50px;
				font-size: 0.875rem;
				font-weight: 700;
				background: #CD040B;
				color: #FFF;
				cursor: pointer;
			}
			.delete-modify-project {
				display: flex;
				width: 150px;
				justify-content: center;
				align-items: center;
			}
			.icon-right-arrow {
				width: 20px;
				height: 25px;
				fill: #FFF;
			}
		}
	}
	.locations {
		display: flex;
		padding-top: 2%;
		.outer-locations {
			display: flex;
			width: 100%;
		}
	}
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	.box-primary {
		border-top-color: #3c8dbc;
	}
}

.box-widget {
	border: none;
}

.widget-user .widget-user-header {
    height: 200px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header > .box-tools {
	position: absolute;
	right: 10px;
	top: 0;
	width: 20%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #ffffff;
}

.box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}

.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3;
	border: none;
	.icon-plus {
		width: 15px;
		height: 15px;
		fill: #333;
		border-radius: 50%;
	}
}

.dropdown-container {
	width: 25%;
	.dropdown-selected {
		font-size: 1.2em;
	}
	.dropdown-list {
		font-size: 1.2em;
	}
}

.dropdown-selected-active .dropdown-selected-active-label {
	font-size: 1.2em;
}

.bg-warning {
	background: #ffc107;
}
.bg-red {
	background: #dc3545;
}
.bg-message {
	background: #17a2b8;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    .list-group-item {
		position: relative;
		display: block;
		padding: .75rem 1.25rem;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.125);
	    text-transform: capitalize;
	    .event-message {
			display: block;
			font-size: 0.8em;
			font-style: italic;
			color: #555;
	    }
	    .bg-red {
	    	color: #FFF;
	    	em {
	    		padding: 0 5px 0 5px
	    	}
	    }
	    .bg-warning {
	    	em {
	    		padding: 0 5px 0 5px
	    	}
	    }
    }
	.list-group-item:first-child {
	    border-top-left-radius: .25rem;
	    border-top-right-radius: .25rem;
	}
	.list-group-item:last-child {
	    margin-bottom: 0;
	    border-bottom-right-radius: .25rem;
	    border-bottom-left-radius: .25rem;
	}
	.float-right {
		float: right;
	}
	.text-muted {
		color: #6c757d;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

.box-tools {
	.box-tools-wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		flex-grow: 1;
	}
	.badge {
		display: flex;
		width: 20px;
		border-radius: 50%;
		font-size: 0.8em;
		text-align: center;
	}
	strong {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
} 

.page-memo {
	h3 {
		font-weight: 500;
		margin: 0;
		color: #868e96;
	}
}


/* Toggle Animation */
.toggle-fade-in-enter {
  opacity: 0.01;
}

.toggle-fade-in-enter.toggle-fade-in-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.toggle-fade-in-leave {
  opacity: 1;
}

.toggle-fade-in-leave.toggle-fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
